/* Define base colors */
:root {
    --primary-color: #9CBCCC;
    --secondary-color: #5484A4;
    --background-color: #FFF9EF;
    --text-color: #586F61;
}

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--text-color);
    background: var(--background-color);
/* pro butao maneiro funcionar */
    /* display: -webkit-box;
    display: -ms-flexbox; */
    /* display: flex; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

/* Container */
.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

/* Hero section */
.hero {
    background: var(--primary-color);
    color: #fff;
    padding: 100px 20px;
    text-align: center;
    position: relative;
    overflow: hidden;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero .btn {
    background: #fff;
    color: var(--primary-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

.hero .btn:hover {
    background: #e6e6e6;
}

.logo {
    max-width: 600px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 15px;
}

/* Features section */
.features {
    background: var(--secondary-color);
    padding: 60px 20px;
    color: #fff;
}

.features h2 {
    margin-bottom: 30px;
}

.feature-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature {
    background: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    color: var(--text-color);
}

/* About section */
.about {
    padding: 60px 20px;
}

/* Contact section */
.contact {
    background: var(--primary-color);
    padding: 60px 20px;
    color: #fff;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact .btn {
    background: var(--secondary-color);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.contact .btn:hover {
    background: #3d677d;
}

/* Footer */
footer {
    background: var(--text-color);
    color: #fff;
    text-align: center;
    padding: 20px;
}
